*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.cproject
cmake_install.cmake
.pydevproject
*.swp
CATKIN_IGNORE
catkin
catkin_generated
devel

*.smoketest
*.cfgc
baxter/baxter_interface/docs/
baxter/baxter_interface/src/baxter_interface/cfg/
baxter/baxter_interface/cfg/cpp/
baxter/examples/joint-interface/baxter_joint_msgs/src/baxter_joint_msgs/msg/
baxter/baxter_core_msgs/src/
baxter/baxter_maintenance_msgs/src/
msg_gen
srv_gen
