<launch>
  <!-- This launch file will launch both joy_node and gripper together -->
  <!-- Use will need to pass in joystick param on command line like so: -->
  <!-- roslaunch gripper gripper.launch joystick:="logitech" -->
  <!-- where joystick arg is xbox|logitech -->

  <!-- declare arg to be passed in -->
  <arg name="joystick" default="none"/>

  <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="rsdk_joy" >
  </node>

  <!-- start joint pose node using arg passed-->
  <node pkg="gripper_control" type="gripper.py" name="gripper" args="-j $(arg joystick)" output="screen">
  </node>
</launch>
