<launch>
  <!-- This launch file will launch both joy_node and joint_pose together -->
  <!-- Use will need to pass in joystick param on command line like so: -->
  <!-- roslaunch joint_pose joint_pose.launch joystick:="logitech" -->
  <!-- where joystick arg is xbox|logitech -->

  <!-- declare arg to be passed in -->
  <arg name="joystick"/>

  <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="rsdk_joy" >
  </node>

  <!-- start joint pose node using arg passed-->
  <node pkg="joint_pose" type="joint_pose_joystick.py" name="rsdk_joint_pose_joystick" args="$(arg joystick)" output="screen">
  </node>
</launch>
